<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">SETRE </a>

   
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
 
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</nav>